.heading-block .form-wrapper span, .block_03 h3, .block_010 h3, .block_03 .name, .block_010 .name, .block_05 h2, .block_06 .instant-access {
  font-weight: 600;
  text-transform: uppercase; }

.heading-block .form-block input.next-step, .block_02 .line-bar .bar-progress, .block_06 .title-heading, .block_07 .title {
  font-weight: 700;
  text-transform: uppercase; }

.no-drop {
  cursor: no-drop; }

label {
  text-align: left; }
  label.error {
    color: red;
    font-weight: 600;
    font-size: 11px; }

.no-gutter {
  margin: 0;
  padding: 0; }

body {
  background: #000;
  color: #fff;
  font-family: Open Sans, sans serif; }

.heading-customize .form-block input {
  border: 0;
  margin: 3px 0; }
.heading-customize .form-block .prefix {
  width: 15%;
  border-right: 0px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }
.heading-customize .form-block .phone {
  width: 85%;
  display: inline-block;
  margin-left: -4px;
  border-left: 0px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.heading-block {
  background-image: url("../images/videobackground.png");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; }
  .heading-block.heading-customize .form-block input {
    border-radius: 10px;
    padding: 12px 10px; }
  .heading-block.heading-customize .form-block .content-block {
    margin: 0px 15px -15px 15px; }
  .heading-block .navbar {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    margin-bottom: 0;
    max-height: 120px; }
  .heading-block .navbar-brand {
    height: auto;
    margin-top: 5px;
    padding-left: 0; }
    .heading-block .navbar-brand img {
      height: 50px;
      width: auto; }
  .heading-block .navbar-nav {
    margin-left: 5%; }
    .heading-block .navbar-nav .active a {
      color: #fff;
      background: none; }
      .heading-block .navbar-nav .active a:hover, .heading-block .navbar-nav .active a:focus {
        background: none; }
    .heading-block .navbar-nav li {
      font-size: 18px; }
      .heading-block .navbar-nav li.active {
        border-bottom: 5px solid #f7921a; }
      .heading-block .navbar-nav li a {
        padding-top: 41px;
        padding-bottom: 41px; }
  .heading-block .notification-block {
    display: none;
    animation-delay: 1s;
    animation-iteration-count: 5, 0, infinite;
    background: linear-gradient(to bottom, white 0%, #878787 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 20px 5px 5px;
    position: fixed;
    right: -100%;
    top: 5%;
    z-index: 999; }
    .heading-block .notification-block img {
      float: left;
      margin-right: 10px; }
    .heading-block .notification-block .transact-desc {
      display: inline-block;
      margin-top: 10px; }
    .heading-block .notification-block span {
      font-size: 19px;
      font-style: italic;
      color: #000;
      font-weight: 700; }
      .heading-block .notification-block span.transact-amt {
        margin-left: 5px; }
  .heading-block .heading-content {
    padding: 75px 0; }
    .heading-block .heading-content img {
      width: 100%; }
  .heading-block h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    padding-bottom: 4px; }
    .heading-block h1.title-gradient {
      background-image: linear-gradient(to bottom, #fffcfc 1%, #fff7f7 60%, #d7d7d7 45%, #d7d7d7 60%, #d7d7d7 61%, #d7d7d7 100%); }
    .heading-block h1:after {
      background: none;
      content: attr(data-text);
      left: 13%;
      position: absolute;
      text-shadow: 7px 9px 2px rgba(0, 0, 0, 0.8);
      top: -4px;
      z-index: -1; }
  .heading-block .form-wrapper {
    background: url("../images/form-crypto-bg.jpg"); }
    .heading-block .form-wrapper .text-block {
      background-color: rgba(0, 0, 0, 0.8);
      padding-top: 5px; }
    .heading-block .form-wrapper span {
      display: inline-block;
      font-family: Open Sans, sans-serif;
      color: #fff;
      font-size: 32px; }
      .heading-block .form-wrapper span.orange {
        color: #f7921a; }
  .heading-block .form-block {
    display: inline-block;
    width: 100%;
    color: #222; }
    .heading-block .form-block .content-block {
      margin: -2px 15px;
      background-color: rgba(0, 0, 0, 0.8); }
    .heading-block .form-block .line-wrap {
      padding: 0 10px;
      position: relative; }
    .heading-block .form-block ul:before {
      content: '';
      position: absolute;
      top: 57%;
      left: 0;
      border-top: 2px solid #212121;
      width: 100%;
      transform: translateY(-50%);
      z-index: 0; }
    .heading-block .form-block ul {
      padding: 20px 0 10px 0; }
      .heading-block .form-block ul li {
        position: relative;
        list-style-type: none;
        border-radius: 100%;
        background: linear-gradient(to bottom, white 0%, #b5b5b5 100%);
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 0 18px;
        font-size: 25px;
        font-weight: 700;
        padding: 2px;
        color: #05060b; }
        .heading-block .form-block ul li.active {
          background: linear-gradient(to bottom, #71a640 0%, #a4cf73 100%); }
    .heading-block .form-block .no-gutter {
      padding: 0;
      margin: 0; }
    .heading-block .form-block .name-block {
      padding: 0 15px; }
    .heading-block .form-block .group-form {
      margin-bottom: 8px;
      text-align: left; }
    .heading-block .form-block input {
      padding: 15px 10px;
      outline: none;
      border-radius: 5px;
      font-size: 16px;
      width: 100%;
      background: linear-gradient(to bottom, white 0%, white 50%, #ebebeb 51%, #f2f2f2 100%); }
      .heading-block .form-block input.f-name, .heading-block .form-block input.l-name {
        width: 98%; }
      .heading-block .form-block input.next-step {
        font-size: 35px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        color: #fff;
        border: 0;
        margin: 0;
        background: linear-gradient(to bottom, #689f38 0%, #689f38 1%, #9ec96c 51%, #9ec96c 55%, #9ec96c 61%, #9ec96c 76%, #9ec96c 91%, #9ec96c 100%); }
    .heading-block .form-block .btn-block-01 {
      background: #689f38;
      border-radius: 5px;
      padding: 3px;
      margin-top: 2px; }
      .heading-block .form-block .btn-block-01 .btn-block-02 {
        border-top: 2px solid white;
        border-radius: 5px; }
    .heading-block .form-block form {
      margin: 0px 15px 15px;
      padding-bottom: 10px; }
      .heading-block .form-block form fieldset {
        margin: 10px 0; }

.block_01 {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -40px;
  position: relative; }
  .block_01 .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .block_01 h3 {
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase; }
  .block_01 p {
    font-size: 16px; }
  .block_01 .block-wrap {
    background-color: #f3f3f3;
    flex: 1;
    flex-direction: column; }
  .block_01 .block-image {
    background: url(../images/image_02.jpg) no-repeat center;
    background-size: cover;
    flex: 1; }
  .block_01 .block-content {
    color: #000;
    margin: 0 15px;
    padding-bottom: 85px;
    padding-top: 150px;
    width: 75%; }
  .block_01 .coins-list {
    padding-left: 0; }
    .block_01 .coins-list img {
      margin-bottom: 10px;
      max-width: 100%;
      height: auto;
      margin: 0 auto; }
  .block_01 li {
    display: inline-block;
    padding: 15px 0;
    vertical-align: top;
    width: 19%;
    text-align: center; }
    .block_01 li img {
      width: 80%; }
  .block_01 .coins-description {
    display: inline-block;
    font-size: 0.813em;
    font-weight: 700;
    text-align: center; }
    .block_01 .coins-description span:first-child {
      text-transform: uppercase;
      margin-top: 5px; }
    .block_01 .coins-description span {
      display: block; }

.block_02 {
  padding-top: 100px; }
  .block_02 .container-fluid {
    display: flex;
    padding: 0; }
  .block_02 h3 {
    font-size: 27px;
    margin-top: 0;
    text-transform: uppercase; }
  .block_02 .block-wrap {
    flex: 1;
    margin: 0 15px; }
  .block_02 .block-image {
    flex: 1; }
    .block_02 .block-image img {
      width: 100%; }
  .block_02 .block-content {
    color: #fff;
    margin: 0 auto;
    width: 75%; }
  .block_02 .line-bar .bar-progress {
    background: linear-gradient(to right, #a73f00, #f7921a);
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 40px;
    margin: 25px 0;
    padding: 0 20px; }
  .block_02 .line-bar .bar-1 {
    width: 75%; }
  .block_02 .line-bar .bar-2 {
    width: 85%; }
  .block_02 .line-bar .bar-3 {
    width: 95%; }

.block_03, .block_010 {
  background-color: #fff;
  color: #000;
  padding: 130px 0 100px 0; }
  .block_03 h3, .block_010 h3 {
    font-size: 32px;
    margin-bottom: 20px; }
  .block_03 span, .block_010 span {
    font-size: 16px; }
  .block_03 .name, .block_010 .name {
    color: #11749e;
    display: inline-block;
    margin: 10px 0 0 5px;
    vertical-align: top; }
  .block_03 .comment, .block_010 .comment {
    display: block;
    font-style: italic; }
  .block_03 .row:first-child, .block_010 .row:first-child {
    margin-bottom: 125px; }
  .block_03 .row:last-child, .block_010 .row:last-child {
    margin-bottom: 0; }
  .block_03 em, .block_010 em {
    display: inline-block;
    height: 42px;
    width: 42px; }
  .block_03 .flag-01, .block_010 .flag-01 {
    background: url("../images/flag_sw.png") no-repeat center center; }
  .block_03 .flag-02, .block_010 .flag-02 {
    background: url("../images/flag_uk.png") no-repeat center center; }
  .block_03 .flag-03, .block_010 .flag-03 {
    background: url("../images/flag_russia.png") no-repeat center center; }
  .block_03 .flag-04, .block_010 .flag-04 {
    background: url("../images/flag_germany.png") no-repeat center center; }
  .block_03 .carousel-control, .block_010 .carousel-control {
    width: 7%; }
    .block_03 .carousel-control.left, .block_03 .carousel-control.right, .block_010 .carousel-control.left, .block_010 .carousel-control.right {
      background-image: none; }
    .block_03 .carousel-control.left, .block_010 .carousel-control.left {
      background: url(../images/arrow_left.png) no-repeat center 55%; }
    .block_03 .carousel-control.right, .block_010 .carousel-control.right {
      background: url(../images/arrow_right.png) no-repeat center 55%; }

.block_04 .block-image {
  background-image: url(../images/bitcoin_bg.jpg);
  background-size: cover; }
.block_04 .block-wrap {
  background-color: #222;
  padding: 105px 0 135px 0; }
.block_04 .container-fluid {
  padding: 0; }

.block_04 .container-fluid {
  padding-left: 0;
  padding-right: 0; }
.block_04 .block-wrap {
  flex: 1; }
.block_04 .block-content {
  width: auto;
  margin: 0 15px; }
  .block_04 .block-content p {
    font-size: 14px; }
    .block_04 .block-content p.first {
      margin-bottom: 40px; }
.block_04 .block-image {
  flex: 1;
  background: url("../images/bitcoin_bg.jpg");
  background-size: cover; }
.block_04 h3 {
  font-size: 22px;
  margin-bottom: 50px;
  text-transform: uppercase; }

.block_05 {
  background-color: #fff;
  padding: 80px 0; }
  .block_05 h2 {
    color: #222;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 0; }
  .block_05 .icon-check {
    background-image: url("../images/check.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block; }
  .block_05 .table {
    margin: 0 auto;
    width: 100%; }
    .block_05 .table th {
      vertical-align: top;
      text-align: center;
      background: linear-gradient(#222, #000);
      font-weight: 700;
      font-size: 20px;
      width: 25%;
      background: linear-gradient(to bottom, #222222 0%, #222222 12%, #222222 25%, #222222 39%, #222222 51%, black 51%, black 60%, black 76%, black 91%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000', GradientType=0 ); }
    .block_05 .table td {
      padding: 10px 0;
      font-size: 18px;
      background: linear-gradient(to bottom, #004786 0%, #004786 50%, #003c77 51%, #003c77 100%); }
    .block_05 .table td, .block_05 .table tr, .block_05 .table thead, .block_05 .table th {
      border: 0; }
      .block_05 .table td:first-child, .block_05 .table tr:first-child, .block_05 .table thead:first-child, .block_05 .table th:first-child {
        border: 0; }

.block_06 {
  background: url("../images/signup_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 70px 0 140px 0; }
  .block_06 .title-heading {
    font-size: 60px;
    margin-bottom: 60px; }
  .block_06 input {
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    outline: none;
    font-size: 15px; }
    .block_06 input.prefix {
      width: 15%;
      border-right: 0;
      padding: 10px 0px 10px 20px; }
    .block_06 input.phone {
      width: 85%;
      padding-left: 0;
      border-left: 0;
      margin-left: -4px; }
  .block_06 .col-md-4 {
    margin-bottom: 30px; }
  .block_06 .instant-access {
    width: 100%;
    background-color: #f78e11;
    margin: 10px 0px;
    padding: 0px;
    font-size: 35px;
    border: none;
    letter-spacing: 0.02em; }
    .block_06 .instant-access:hover {
      background-color: rgba(247, 142, 17, 0.9); }

.block_07 {
  background-color: #003d77;
  color: #fff;
  padding: 135px 0 130px 0; }
  .block_07 .title {
    display: block;
    margin: 27px 0;
    font-size: 16px; }
  .block_07 .description {
    font-size: 14px; }
  .block_07 img {
    width: 160px; }
  .block_07 .info-block {
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 100%; }

.block_08 {
  background-color: #222; }
  .block_08 .container-fluid {
    z-index: 1;
    padding-left: 0;
    padding-right: 0; }
  .block_08 .block-wrap {
    flex: 1; }
    .block_08 .block-wrap p {
      font-family: "Open Sans";
      color: #fff;
      font-size: 16px;
      margin-bottom: 20px; }
    .block_08 .block-wrap h2 {
      font-family: "Open Sans";
      color: #fff;
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 25px; }
  .block_08 .block-content {
    color: #000;
    margin: 0 15px;
    padding-bottom: 85px;
    padding-top: 150px;
    width: 75%; }
  .block_08 .block-image {
    flex: 1; }
  .block_08 .no-gutter {
    padding: 0px;
    margin: 0; }
  .block_08 img {
    width: 100%; }

.block_09 {
  color: #222; }
  .block_09 .container-fluid {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column-reverse; }
  .block_09 .block-image {
    flex: 1; }
  .block_09 .block-wrap {
    flex: 1;
    background-color: #f3f3f3; }
    .block_09 .block-wrap p {
      font-family: "Open Sans";
      color: #000;
      font-size: 16px;
      margin-bottom: 20px; }
    .block_09 .block-wrap h3 {
      font-family: "Open Sans";
      color: #000;
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 25px; }
  .block_09 .block-content {
    margin: 0 15px;
    padding-bottom: 85px;
    padding-top: 150px;
    width: 75%; }

.block_11 {
  background-color: #11749e;
  padding: 20px 0; }
  .block_11 .container .col-container-1, .block_11 .container .col-container-2 {
    flex: 1; }
    .block_11 .container .col-container-1 .col-image, .block_11 .container .col-container-2 .col-image {
      flex: 1; }
    .block_11 .container .col-container-1 .col-text, .block_11 .container .col-container-2 .col-text {
      flex: 2; }
  .block_11 h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 800; }
  .block_11 p {
    color: #fff;
    font-size: 15px;
    line-height: 24px; }
  .block_11 .images {
    display: block;
    padding-top: 20px;
    margin: 0px auto; }

footer {
  padding: 80px 0 65px 0;
  background-color: #222; }
  footer p {
    font-size: 16px;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
