//global variables
$white: #fff;
$black: #000;
$dark-gray: #222;
$orange: #f7921a;

@media only screen and (max-width : 330px) {
    .heading-block {
    
        &.heading-customize {
            .form-block {
                input {
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width : 345px) {
    .block_01 {
        .coins-list {
            li {
                .position-adjust {
                    position: relative;
                    left: -5px;
                }
            }
        }
    }
}

@media only screen and (max-width : 380px) {
    .block_01 {
        .coins-list {
            li {
              margin: 10px; 
            }
        }
    }
}

@media only screen and (max-width : 420px) {
    .block_01 {
        .coins-list {
            li {
              width: 24%;
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    .heading-block {
        
        .navbar-inverse {
            z-index: 1;
        }
        
        .navbar-brand {
            padding: 10px 15px;
            
            img {
                height: 30px;
                max-height: 35px;
            }
        }
        
        .navbar {
            margin-bottom: 0;
        }
        
        .navbar-nav {
            background-color: #000;
            margin: 2px -15px;
            
            li {
                font-size: 14px;
                
                a {
                    padding: 15px;
                }
                
                &.active {
                    border-bottom: 2px solid $orange;
                    background: rgba(16, 16, 16, 0.9);
                } 
            }
        }
        
        .video-clip {
            margin-bottom: 30px;
        }
        
        .heading-content {
            h1 {
                font-size: 35px;
            }
        }
    }
    
    .block_01 {
        .block-wrap {
            flex: inherit;
        }
        
        .block-content {
            width: auto;
        }
        
        li {
            padding: 15px 5px;
        
            .coins-description {
                width: 100%;
            }
        }
    } 
        
    .block_02 {
        .block-wrap, .container-fluid, .row {
            display: inline-block;
        }
        
        .block-content {
            width: 100%;
        }
        
        .line-bar {
            span {
                font-size: 14px;
            }
            
            .bar-progress {
                padding: 0 15px;
            }
        }
    }
    
    .block_03 {
        .col-md-3 {
            margin: 15px 0;
        }
        
        .container-fluid {
            padding: 0 5px;
        }
        
        
        span {
            font-size: 14px;
        }
        
        .row:first-child {
            margin-bottom: 0px;
        }
        
        .carousel  {
            .container {
                padding: 0 30px;
            }
        }
        
        .carousel-control {
            &.left, &.right {
                background-size: contain;
            }
        }
    }
    
    .block_04 {
        .block-image {
            background-image: none;
            height: auto;
                
            img {
                display: block;
            }
        }
    }
    
    .block_05 {
        .table-customized {
            th {
                font-size: 13px;
                vertical-align: middle;
            }
            
            td {
                font-size: 13px;
                padding: 10px 5px;
            }
        }
    }
    
    .block_06  {
        padding: 50px 0;
        
        .title-heading {
            font-size: 40px;
        }
        
        .instant-access {
            font-size: 25px;
        }
    }
    
    .block_07 {
        .info-block {
            width: 80%;
        }
    }
    
    .block_08, .block_09 {
        .block-wrap {
            padding-left: 15px;
            padding-right: 15px;
            
            .block-content {
                width: auto;
            }
        }
    }
    
    .block_09 {
        .block-image {
            background-image: none;
            height: auto; 
        }
        
        img {
            display: block;
        }
    }
    
    .block_010 {
        .col-md-3 {
            margin: 0 0 15px 0;
        }
    }
    
    .block_11 {
        text-align: center;
    }
}

@media only screen and (min-width : 768px) {
    
    .block_01 {
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
        
        .container-fluid {
            display: flex;
        }
            
        .block-image {

            img {
                display: none;
            }
        }

        .block-content {
            margin: 0 auto;
        }
    } 
    
    .block_03 {
        h3 {
            margin-bottom: 90px;
        }
    }
    
    .block_04 {
        .container-fluid, .row, .block-wrap {
            display: flex;
            
            img {
                display: none;
            }
        }
        
        .block-content {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    .block_08 {
        .container-fluid {
            display: flex;
            padding-right: 0;
        }
        
        .block-content {
            width: 80%;
            margin: 0 auto;
        }

        .block-image {
            background: url('../images/coin.jpg') no-repeat center;
            background-size: cover;

            img {
                display: none;
            }
        }
    }
    
    .block_09 {
        .container-fluid {
            display: flex;
            flex-direction: row;
            padding: 0;           
        }
        
        .block-content {
            width: 80%;
            margin: 0 auto;
        }
            
        .block-image {
            background: url('../images/people.jpg') no-repeat center;
            background-size: cover;
            
            img {
                display: none;
            }
        }
    }
    
    
    .block_11 {
        .container {
            display: flex;
            padding: 0;
        }
        
        .col-container-1, 
        .col-container-2 {
            display: flex;
            text-align: left;
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 820px) {
    .block_01 {
        .coins-list {
            li {
              width: 23%;
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .block_02 {
        .block-wrap {
            .block-content {
                width: 95%;
            }
        }
    }
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
    .heading-block {

        .navbar-brand {
            margin-top: 15px;
           
            img {
                height: 40px;
            }
        }
        
        .navbar-nav {
            margin-left: 0;         
            
            li {
                font-size: 16px;
                
                a {
                    padding-left: 9px;
                    padding-right: 9px;
                }
            }
        }
        
        .form-wrapper {
            margin-top: 20px;
        }
    }
    
    .block_01 {
        .block-content {
            width: 90%;
        }
    }
    
    .block_03 {
        .col-md-3 {
            margin: 15px 0;
        }
        
        .container-fluid {
            padding: 0 5px;
        }
        
        
        span {
            font-size: 14px;
        }
        
        .row:first-child {
            margin-bottom: 0px;
        }
        
        .carousel  {
            .container {
                padding: 0 30px;
            }
        }
        
        .carousel-control {
            &.left, &.right {
                background-size: contain;
            }
        }
    }
}
