//Global variables
$white: #fff;
$ash-white: #f3f3f3;
$black: #000;
$dark-gray: #222;

//Extended class properties
%text-properties-1 {
    font-weight: 600;
    text-transform: uppercase;
}

%text-properties-2 {
    font-weight: 700;
    text-transform: uppercase;
}

//General classes
.no-drop {
    cursor: no-drop;
}

label {
    text-align: left;
    
    &.error {
        color: red;
        font-weight: 600;
        font-size: 11px;
    }
}

.no-gutter {
    margin: 0;
    padding: 0;
}

body {
    background: $black;
    color: $white;
    font-family: Open Sans, sans serif;
}

//Page scss
.heading-customize {
    .form-block {
        input {
            border: 0;
            margin: 3px 0;
        }
        
        .prefix {
            width: 15%;
            border-right: 0px;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        .phone {
            width: 85%;
            display: inline-block;
            margin-left: -4px;
            border-left: 0px;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

.heading-block {
    
    background-image: url('../images/videobackground.png');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
    &.heading-customize {
        .form-block {
            input {
                border-radius: 10px;
                padding: 12px 10px;
            }
            
            .content-block {
               margin: 0px 15px -15px 15px; 
            }
        }
    }
    
    .navbar {
        background-color: rgba(0,0,0,.4);
        border-bottom: 2px solid rgba(255, 255, 255, .4);
        margin-top: 20px;
        margin-bottom: 0;
        max-height: 120px;
    }
    
    .navbar-brand {
        height: auto;
        margin-top: 5px;
        padding-left: 0;
        
        img {
            height: 50px;
            width: auto;
        }
    }
    
    .navbar-nav  {
        margin-left: 5%;

        .active {
            a {
                color: #fff;  
                background: none;

                &:hover, &:focus {
                    background: none;
                }
            }
        }

        li {
            font-size: 18px;

            &.active {
                border-bottom: 5px solid #f7921a;
            }

            a {
                padding-top: 41px;
                padding-bottom: 41px;
            }
        }
    }
    
    .notification-block {
        display: none;
        animation-delay: 1s;
        animation-iteration-count: 5, 0, infinite;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(135,135,135,1) 100%);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 5px 20px 5px 5px;
        position: fixed;
        right: -100%;
        top: 5%;
        z-index: 999;

        img {
            float: left;
            margin-right: 10px;
        }

        .transact-desc {
            display: inline-block;
            margin-top: 10px;
        }

        span {
            font-size: 19px;
            font-style: italic;
            color: #000;
            font-weight: 700;

            &.transact-amt {
                margin-left: 5px;
            }
        }
    }
    
    .heading-content {
        padding: 75px 0;

        img {
            width: 100%;
        }
    }
    
    h1 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 40px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fff;
        position: relative;
        padding-bottom: 4px;
        
        &.title-gradient {
            background-image: linear-gradient(to bottom, #fffcfc 1%, #fff7f7 60%, #d7d7d7 45%, #d7d7d7 60%, #d7d7d7 61%, #d7d7d7 100%);
        }

        &:after {
            background: none;
            content: attr(data-text);
            left: 13%;
            position: absolute;
            text-shadow: 7px 9px 2px rgba(0, 0, 0, 0.8);
            top: -4px;
            z-index: -1;
        }
    }
    
    .form-wrapper {
        background: url('../images/form-crypto-bg.jpg');

        .text-block {
            background-color: rgba(0, 0, 0, .8);
            padding-top: 5px;
        }

        span {
            display: inline-block;
            font-family: Open Sans, sans-serif;
            color: #fff;
            font-size: 32px;
            @extend %text-properties-1;

            &.orange {
                color: #f7921a;
            }
        }
    }

    .form-block {
        display: inline-block;
        width: 100%;
        color: $dark-gray;

        .content-block {
            margin: -2px 15px;
            background-color: rgba(0, 0, 0, .8);
        }
        
        .line-wrap {
            padding: 0 10px;
            position: relative
        }
        
        ul:before {
            content: '';
            position: absolute;
            top: 57%;
            left: 0;
            border-top: 2px solid #212121;
            width: 100%;
            transform: translateY(-50%);
            z-index: 0;
        }
        
        ul {
            padding: 20px 0 10px 0;

            li {
                position: relative;
                list-style-type: none;
                border-radius: 100%;
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(181,181,181,1) 100%);
                width: 40px;
                height: 40px;
                display: inline-block;
                margin: 0 18px;
                font-size: 25px;
                font-weight: 700;
                padding: 2px;
                color: #05060b;

                &.active {
                    background: linear-gradient(to bottom, rgba(113,166,64,1) 0%, rgba(164,207,115,1) 100%);
                }
            }
        }

        .no-gutter {
            padding: 0;
            margin: 0;
        }

        .name-block {
            padding: 0 15px;
        }

        .group-form {
            margin-bottom: 8px;
            text-align: left;
        }

        input {
            padding: 15px 10px;
            outline: none;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(235,235,235,1) 51%, rgba(242,242,242,1) 100%);

            &.f-name, &.l-name{
                width: 98%;
            }

            &.next-step {
                font-size: 35px;
                @extend %text-properties-2;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                color: #fff; 
                border: 0;
                margin: 0;
                background: linear-gradient(to bottom, rgba(104,159,56,1) 0%, rgba(104,159,56,1) 1%, rgba(158,201,108,1) 51%, rgba(158,201,108,1) 55%, rgba(158,201,108,1) 61%, rgba(158,201,108,1) 76%, rgba(158,201,108,1) 91%, rgba(158,201,108,1) 100%);
            }
        }

        .btn-block-01 {
            background: #689f38;
            border-radius: 5px;
            padding: 3px;
            margin-top: 2px;

            .btn-block-02 {
                border-top: 2px solid white;
                border-radius: 5px;
            }
        }

        form {
            margin: 0px 15px 15px ;
            padding-bottom: 10px;


            fieldset {
                margin: 10px 0;
            }
        }
    }
}

.block_01 {
    -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -40px;
    position: relative;
    
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    h3 {
        font-size: 30px;
        margin-top: 0;
        text-transform: uppercase;
    }
    
    p {
        font-size: 16px;
    }
    
    
    
    .block-wrap {
        background-color: $ash-white;
        flex: 1;
        flex-direction: column;
    }
    
    .block-image {
        background: url(../images/image_02.jpg) no-repeat center;
        background-size: cover;
        flex: 1;
        
    }
    
    .block-content {
        color: $black;
        margin: 0 15px;
        padding-bottom: 85px;
        padding-top: 150px;
        width: 75%;
    }
    
    .coins-list {
        padding-left: 0;
        img {
            margin-bottom: 10px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    
    li {
        display: inline-block;
        padding: 15px 0;
        vertical-align: top;
        width: 19%;
        text-align: center;
        
        img {
            width: 80%;
        }
    }
    
    .coins-description {
        display: inline-block;
        font-size: 0.813em;
        font-weight: 700;
        text-align: center;

        span:first-child {
            text-transform: uppercase;
            margin-top: 5px;
        }
        
        span {
            display: block;
        }
    }
}

.block_02 {
    padding-top: 100px;
    
    .container-fluid {
        display: flex;
        padding: 0;
    }
    h3 {
        font-size: 27px;
        margin-top: 0;
        text-transform: uppercase;
    }
    
    .block-wrap {
        flex: 1;
        margin: 0 15px;
    }
    
    .block-image {
        flex: 1;
        img {
            width: 100%;
        }
    }
    
    .block-content {
        color: $white;
        margin: 0 auto;
        width: 75%;
    }
    
    .line-bar {
        .bar-progress {
            background: linear-gradient(to right, #a73f00, #f7921a);
            font-size: 18px;
            letter-spacing: 0.02em; 
            line-height: 40px;
            margin: 25px 0;
            padding: 0 20px;  
            @extend %text-properties-2;
        }
        
        .bar-1 {
            width: 75%;
        }
        
        .bar-2 {
            width: 85%;
        }
        
        .bar-3 {
            width: 95%;
        }
    }
}

.block_03, .block_010 {
    background-color: $white;
    color: $black;
    padding: 130px 0 100px 0;
    
    h3 {
        font-size: 32px;
        margin-bottom: 20px;
        @extend %text-properties-1;
    }
    
    span {
        font-size: 16px;
    }
    
    .name {
        color: #11749e;
        display: inline-block;
        margin: 10px 0 0 5px;
        vertical-align: top;
        @extend %text-properties-1;
    }
    
    .comment {
        display: block;
        font-style: italic;
    }
    
    .row:first-child {
        margin-bottom: 125px;
    }
    
    .row:last-child {
        margin-bottom: 0;
    }
    
    em {
        display: inline-block;
        height: 42px;
        width: 42px;
    }

    .flag-01 {
        background: url('../images/flag_sw.png') no-repeat center center;
    }

    .flag-02 {
        background: url('../images/flag_uk.png') no-repeat center center;
    }

    .flag-03 {
        background: url('../images/flag_russia.png') no-repeat center center;
    }

    .flag-04 {
        background: url('../images/flag_germany.png') no-repeat center center;
    }
    
    .carousel-control {
        width: 7%;
        
        &.left, &.right {
            background-image: none;
        }
        
        &.left {
            background: url(../images/arrow_left.png) no-repeat center 55%;
        }
        
        &.right {
            background: url(../images/arrow_right.png) no-repeat center 55%;
        }
    }
}

.block_04 {
    .block-image {
        background-image: url(../images/bitcoin_bg.jpg);
        background-size: cover;
    }
    
    .block-wrap {
        background-color: $dark-gray;
        padding: 105px 0 135px 0;
    }
    
    .container-fluid {
        padding: 0;
    }
}

.block_04 {
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        
    }
    
    .block-wrap {
        flex: 1;
    }
    
    .block-content {
        width: auto;
        margin: 0 15px;
            
        p {
            font-size: 14px;
            
            &.first {
                margin-bottom: 40px;
            }
        }
    }
    
    .block-image {
        flex: 1;
        background: url('../images/bitcoin_bg.jpg');
        background-size: cover;
    }
    
    h3 {
        font-size: 22px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
}

.block_05 {
    background-color: $white;
    padding: 80px 0;
    
    h2 {
        color: $dark-gray;
        font-size: 35px;
        @extend %text-properties-1;
        margin-bottom: 50px;
        margin-top: 0;
    }
    
    .icon-check {
        background-image: url('../images/check.png');
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        
    }
    
    .table {
        margin: 0 auto;
        width: 100%;
        
        th {
            vertical-align: top;
            text-align: center;
            background: linear-gradient($dark-gray, $black);
            font-weight: 700;
            font-size: 20px;
            width: 25%;
            background: linear-gradient(to bottom, rgba(34,34,34,1) 0%, rgba(34,34,34,1) 12%, rgba(34,34,34,1) 25%, rgba(34,34,34,1) 39%, rgba(34,34,34,1) 51%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 91%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000', GradientType=0 );
        }
        
        td {
            padding: 10px 0;
            font-size: 18px;
            background: linear-gradient(to bottom, rgba(0,71,134,1) 0%, rgba(0,71,134,1) 50%, rgba(0,60,119,1) 51%, rgba(0,60,119,1) 100%);
        }
        
        td, tr, thead, th {
            border: 0;
            
            &:first-child {
                border: 0;
            }
        }
    }
}

.block_06 {
    background: url('../images/signup_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 70px 0 140px 0;
    
    .title-heading {
        font-size: 60px;
        margin-bottom: 60px;
        @extend %text-properties-2;
    }
   
    input {
        width: 100%;
        background-color: transparent;
        padding: 10px 20px;
        border: 1px solid rgba(255, 255, 255, .8);
        outline: none;
        font-size: 15px;

        &.prefix {
            width: 15%;
            border-right: 0;
            padding: 10px 0px 10px 20px;
        }

        &.phone {
            width: 85%;
            padding-left: 0;
            border-left: 0;
            margin-left: -4px;
        }
    }
    
    .col-md-4 {
        margin-bottom: 30px;
    }
    
    .instant-access {
        width: 100%;
        background-color: #f78e11;
        margin: 10px 0px;
        padding: 0px;
        @extend %text-properties-1;
        font-size: 35px;
        border: none;
        letter-spacing: 0.02em;
        
        &:hover {
            background-color: rgba(247, 142, 17, .9);
        }
    }
}

.block_07 {
    background-color: #003d77;
    color: $white;
    padding: 135px 0 130px 0;
    
    .title {
        @extend %text-properties-2;
        display: block;
        margin: 27px 0;
        font-size: 16px;
    }
    
    .description {
        font-size: 14px;
    }
    
    img {
        width: 160px;
    }
    
    .info-block {
        display: block;
        margin: 0 auto;
        padding: 0 0 30px 0;
        width: 100%;
    }
}

.block_08 {
    background-color: $dark-gray;
    
        .container-fluid {
            z-index: 1;
            padding-left: 0;
            padding-right: 0;
        }
        
        .block-wrap{
            flex: 1;
            p {
                font-family: "Open Sans";
                color: $white;
                font-size: 16px;
                margin-bottom: 20px;
            }
            
            h2 {
                font-family: "Open Sans";
                color: $white;
                font-size: 30px;
                margin-top: 20px;
                margin-bottom: 25px;
            }
        }

        .block-content {
            color: $black;
            margin: 0 15px;
            padding-bottom: 85px;
            padding-top: 150px;
            width: 75%;
        }
        
        .block-image {
            flex: 1;
        }
        
       
         .no-gutter {
                padding: 0px;
                margin: 0;
            }
        
        img{
            width: 100%;
        }
    }

.block_09 {
    color: $dark-gray;
    
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .block-image {
        flex: 1;
    }
    
    .block-wrap {
        flex: 1;
        background-color: $ash-white;
        
        
        p {
            font-family: "Open Sans";
            color: $black;
            font-size: 16px;
            margin-bottom: 20px;
        }
        
        h3 {
            font-family: "Open Sans";
            color: $black;
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }

    .block-content {
        margin: 0 15px;
        padding-bottom: 85px;
        padding-top: 150px;
        width: 75%;
    }
}

.block_11  {
    background-color: #11749e;
    padding: 20px 0;
    
    .container {
        
        .col-container-1, .col-container-2 {
            flex: 1;
            
            .col-image {
                flex: 1;
            }
            
            .col-text {
                flex: 2;
            }
        }
        
        
    }
    
    h3 {
        font-size: 25px;
        color: $white;
        font-weight: 800;
    }

    p {
        color: $white;
        font-size: 15px;
        line-height: 24px;
        
    }
 
        .images{
            display: block;
            padding-top: 20px;
            margin: 0px auto;
        }
}

footer {
    padding: 80px 0 65px 0;
    background-color: $dark-gray;
    
    p {
        font-size: 16px;
        color: $white;
    }
}